header
    h1=pageTitle
    nav
        ul
            li
                a(href="/") HOME
            li
                a(href="/new") New Story
            li
                a(href="/join") JOIN
            li
                a(href="/login") LOGIN
            li
                a(href="/users/:id") MY